<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weboconnect.nurseify">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.nurseify">
        <activity android:name=".screen.facility.NurseDetailsActivity"></activity>
        <activity android:name=".screen.facility.FacilityDetails4Activity" />
        <activity android:name=".screen.facility.FacilityDetails3Activity" />
        <activity android:name=".screen.facility.FacilityDetails2Activity" />
        <activity android:name=".screen.facility.FacilityDetails1Activity" />
        <activity android:name=".screen.facility.AddJob2Activity" />
        <activity android:name=".screen.facility.AddJobActivity1" />
        <activity android:name=".screen.facility.AppliedNursesActivity" />
        <activity android:name=".screen.facility.RegistrationFActivity" />
        <activity android:name=".screen.facility.HomeFActivity" />
        <activity android:name=".screen.facility.LoginFacilityActivity" />
        <activity android:name=".screen.nurse.OfferedJobsActivityActivity" />
        <activity android:name=".screen.nurse.CompletedJobDetailsActivity" />
        <activity android:name=".screen.nurse.ActiveJobDetailsActivity" />
        <activity android:name=".screen.PrivacyActivity" />
        <activity android:name=".screen.AboutActivity" />
        <activity android:name=".screen.nurse.SettingActivity" />
        <activity android:name=".screen.nurse.RoleActivity" />
        <activity android:name=".screen.nurse.WorkHistoryActivity" />
        <activity android:name=".screen.nurse.HourlyRateActivity" />
        <activity android:name=".screen.nurse.PersonalDetailsActivity" />
        <activity android:name=".screen.nurse.MessageActivity" />
        <activity android:name=".screen.nurse.JobDetailsActivity" />
        <activity android:name=".screen.nurse.RegisterActivity" />
        <activity android:name=".screen.nurse.CreateProfileActivity" />
        <activity android:name=".screen.nurse.HomeActivity" />
        <activity android:name=".screen.nurse.SignupDetailsActivity" />
        <activity android:name=".screen.nurse.SignupActivity" />
        <activity android:name=".screen.nurse.LoginActivity" />
        <activity android:name=".screen.LoginSelectActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>